.container{
    display: flex;
}
header{
    display: flex;
    margin-bottom: 10px;
    font-weight: bold;
}
#start_game{
    margin-right: 10px;

}
.user_grid{
    display:flex;
    flex-wrap: wrap;
    width: 420px;
    height: 420px;
   
}
.grid div{
    width: 40px;
    height: 40px;
    border:solid 1px grey;
   
}
.comp_grid{
    margin: 20px;
    display:flex;
    flex-wrap: wrap;
    width: 420px;
    height: 420px;
    margin-top: 0;
}
.grid_display{
    width: 200px;
    height: 200px;
    margin: 20px;
}
.boat_container{
    width: 80px;
    height: 40px;
    background-color: mediumaquamarine;
    border:solid 1px grey;
    display: flex;
}
.boat{
    background-color: mediumaquamarine;
}
.boat_container_vert{
    width: 40px;
    height: 80px;
    background-color: mediumaquamarine;
    border:solid 1px grey;
    display: flex;
    flex-wrap: wrap;
}
.submarine_container{
    width: 120px;
    height: 40px;
    background-color: rgb(193, 102, 205);
    border:solid 1px grey;
    display: flex;
}
.submarine{
    background-color: rgb(193, 102, 205);
}
.submarine_container_vert{
    width: 40px;
    height: 120px;
    background-color: rgb(193, 102, 205);
    border:solid 1px grey;
    display: flex;
    flex-wrap: wrap;
}
.cruiser_container{
    width: 120px;
    height: 40px;
    background-color: rgb(166, 205, 102);
    border:solid 1px grey;
    display: flex;
}
.cruiser{
    background-color: rgb(166, 205, 102);
}
.cruiser_container_vert{
    width: 40px;
    height: 120px;
    background-color: rgb(166, 205, 102);
    border:solid 1px grey;
    display: flex;
    flex-wrap: wrap;
}
.battleship_container{
    width: 160px;
    height: 40px;
    background-color: rgb(234, 238, 27);
    border:solid 1px grey;
    display: flex;

}
.battleship_container_vert{
    width: 40px;
    height: 160px;
    background-color: rgb(234, 238, 27);
    border:solid 1px grey;
    display: flex;
    flex-wrap: wrap;
}
.battleship{
    background-color: rgb(234, 238, 27);
}
.ship{
    margin: 2px;
}
.ship div{
    width: 40px;
    height: 40px;
    border:solid 1px grey;
}
/* .twoDeckShip{
    background-color: mediumaquamarine;
}
.firstThreeDeckShip{
    background-color: rgb(193, 102, 205);
}
.secondThreeDeckShip{
    background-color: rgb(166, 205, 102);
}
.fourDeckShip{
    background-color: rgb(234, 238, 27);
} */
.red{
    background-color: red;
}
.black{
    background-color: black;
}